[build]
  command = "npm run build"
  publish = "build"

[dev]
  command = "npm run dev"

[[redirects]]
  from = "/doctor"
  to = "/doctor.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
